In [31]:
import pandas as pd
import numpy as np

# Golden Section Code

In [17]:
def fCalc(func, x):
    expression = func
    # print(expression)

    # x = 4.96
    # x = float(input("Enter the value of x:"))
    # print("x =", x)

    result = eval(expression)
    # print("f(x) = ", result)

    # result = "{:.2f}".format(result)

    return result

In [18]:
def golden_ratio(func, tb, a, b):
    tb.at[1, 'A'] = a
    tb.at[1, 'B'] = b

    i = 1
    while (abs(tb.at[i, 'A'] - tb.at[i, 'B']) > 0.01):
        tb.at[i, 'x1'] = tb.at[i, 'A'] + (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x1
        tb.at[i, 'x2'] = tb.at[i, 'B'] - (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x2
        tb.at[i, 'f(x1)'] = fCalc(func, tb.at[i, 'x1'])
        tb.at[i, 'f(x2)'] = fCalc(func, tb.at[i, 'x2'])


        if (tb.at[i, 'f(x1)'] < tb.at[i, 'f(x2)']):
            tb.at[i+1, 'A'] = tb.at[i, 'x2']
            tb.at[i+1, 'B'] = tb.at[i, 'B']
        else:
            tb.at[i+1, 'A'] = tb.at[i, 'A']
            tb.at[i+1, 'B'] = tb.at[i, 'x1']

        i += 1

    tb.at[i, 'x1'] = tb.at[i, 'A'] + (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x1
    tb.at[i, 'x2'] = tb.at[i, 'B'] - (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x2
    tb.at[i, 'f(x1)'] = fCalc(func, tb.at[i, 'x1'])
    tb.at[i, 'f(x2)'] = fCalc(func, tb.at[i, 'x2'])
    print("Optimal x =", (tb.at[i, 'x1']+tb.at[i, 'x2'])/2)
    print("Optimal f(x) =", (tb.at[i, 'f(x1)']+tb.at[i, 'f(x2)'])/2)

    return tb

In [19]:
def golden_ratio2(func, tb, a, b):
    tb.at[1, 'A'] = a
    tb.at[1, 'B'] = b

    i = 2

    tb.at[1, 'x1'] = tb.at[1, 'A'] + (0.618*((tb.at[1, 'B'])-(tb.at[1, 'A'])))  # x1
    tb.at[1, 'x2'] = tb.at[1, 'B'] - (0.618*((tb.at[1, 'B'])-(tb.at[1, 'A'])))  # x2
    tb.at[1, 'f(x1)'] = fCalc(func, tb.at[1, 'x1'])
    tb.at[1, 'f(x2)'] = fCalc(func, tb.at[1, 'x2'])

    while (abs(tb.at[i-1, 'A'] - tb.at[i-1, 'B']) <= 0.01 or i != 11):
        if (tb.at[i-1, 'f(x1)'] < tb.at[i-1, 'f(x2)']):
            tb.at[i, 'A'] = tb.at[i-1, 'x2']
            tb.at[i, 'B'] = tb.at[i-1, 'B']

            tb.at[i, 'x1'] = tb.at[i, 'A'] + (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x1
            tb.at[i, 'x2'] = tb.at[i-1, 'x1']
            tb.at[i, 'f(x1)'] = fCalc(func, tb.at[i, 'x1'])
            tb.at[i, 'f(x2)'] = fCalc(func, tb.at[i, 'x2'])
        else:
            tb.at[i, 'A'] = tb.at[i-1, 'A']
            tb.at[i, 'B'] = tb.at[i-1, 'x1']
            tb.at[i, 'x1'] = tb.at[i-1, 'x2']
            tb.at[i, 'x2'] = tb.at[i, 'B'] - (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x2
            tb.at[i, 'f(x1)'] = tb.at[i-1, 'f(x2)']
            tb.at[i, 'f(x2)'] = fCalc(func, tb.at[i, 'x2'])

        i += 1

    print("Optimal x =", (tb.at[i-1, 'x1']+tb.at[i-1, 'x2'])/2)
    print("Optimal f(x) =", (tb.at[i-1, 'f(x1)']+tb.at[i-1, 'f(x2)'])/2)

    return tb

# Question: (x**2) - 6*x + 15, [0, 10]

In [20]:
func = '(x**2) - 6*x + 15'
a = 0
b = 10
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio(func, tb, a, b)

Optimal x = 2.9981490598016443
Optimal f(x) = 6.000004173147624

           A         B        x1        x2     f(x1)     f(x2)
1          0        10      6.18      3.82   16.1124    6.6724
2          0      6.18   3.81924   2.36076  6.671154  6.408628
3          0   3.81924   2.36029   1.45895  6.409228  8.374836
4    1.45895   3.81924  2.917609  2.360581  6.006788  6.408857
5   2.360581   3.81924  3.262032  2.917788  6.068661  6.006759
6   2.360581  3.262032  2.917678  2.704935  6.006777  6.087063
7   2.704935  3.262032  3.049221  2.917746  6.002423  6.006766
8   2.917746  3.262032  3.130515  3.049263  6.017034  6.002427
9   2.917746  3.130515  3.049237  2.999024  6.002424  6.000001
10  2.917746  3.049237  2.999008  2.967976  6.000001  6.001026
11  2.967976  3.049237  3.018195  2.999018  6.000331  6.000001
12  2.967976  3.018195  2.999011   2.98716  6.000001  6.000165
13   2.98716  3.018195   3.00634  2.999015   6.00004  6.000001
14   2.98716   3.00634  2.999013  2.994486  6.000001   6.00003
15  2.994486   3.00634  3.001812  2.999014  6.000003  6.000001
16  2.994486  3.001812  2.999013  2.997285  6.000001  6.000007

# Question: ((x**2)/4) - 2*x + 6, [0, 8]

In [21]:
func = '((x**2)/4) - 2*x + 6'
a = 0
b = 8
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio(func, tb, a, b)

Optimal x = 4.001730820060351
Optimal f(x) = 2.000001061946745

           A         B        x1        x2     f(x1)     f(x2)
1          0         8     4.944     3.056  2.222784  2.222784
2          0     4.944  3.055392  1.888608  2.223071  3.114494
3   1.888608     4.944   3.77684  3.055768   2.01245  2.222894
4   3.055768     4.944  4.222695  3.777072  2.012398  2.012424
5   3.777072     4.944  4.498234  4.222839  2.062059  2.012414
6   3.777072  4.498234   4.22275  4.052556  2.012404  2.000691
7   3.777072   4.22275  4.052501  3.947321  2.000689  2.000694
8   3.947321   4.22275  4.117536  4.052535  2.003454   2.00069
9   3.947321  4.117536  4.052514  4.012343  2.000689  2.000038
10  3.947321  4.052514  4.012331  3.987505  2.000038  2.000039
11  3.987505  4.052514  4.027681  4.012339  2.000192  2.000038
12  3.987505  4.027681  4.012334  4.002852  2.000038  2.000002
13  3.987505  4.012334  4.002849   3.99699  2.000002  2.000002
14   3.99699  4.012334  4.006472  4.002851   2.00001  2.000002
15   3.99699  4.006472   4.00285  4.000612  2.000002       2.0

# Question1: ((x**2)/2) - 2*x, [0, 5]

In [22]:
func = '((x**2)/2) - 2*x'
a = 0
b = 5
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio(func, tb, a, b)

Optimal x = 2.001801801960927
Optimal f(x) = -1.9999977364682955

           A         B        x1        x2     f(x1)     f(x2)
1          0         5      3.09      1.91  -1.40595  -1.99595
2          0      3.09   1.90962   1.18038 -1.995916 -1.664112
3    1.18038      3.09  2.360525  1.909855 -1.935011 -1.995937
4    1.18038  2.360525   1.90971  1.631195 -1.995924 -1.931992
5   1.631195  2.360525  2.081921  1.909799 -1.996644 -1.995932
6   1.909799  2.360525  2.188348  2.081977 -1.982263  -1.99664
7   1.909799  2.188348  2.081942  2.016205 -1.996643 -1.999869
8   1.909799  2.081942  2.016184  1.975558 -1.999869 -1.999701
9   1.975558  2.081942  2.041304  2.016197 -1.999147 -1.999869
10  1.975558  2.041304  2.016189  2.000673 -1.999869      -2.0
11  1.975558  2.016189  2.000668  1.991079      -2.0  -1.99996
12  1.991079  2.016189  2.006597  2.000671 -1.999978      -2.0
13  1.991079  2.006597  2.000669  1.997007      -2.0 -1.999996
14  1.997007  2.006597  2.002933   2.00067 -1.999996      -2.0

# Question2: (2*(x**3)) - 9*(x**2) + 12*x, [1, 5]

In [23]:
func = '(2*(x**3)) - 9*(x**2) + 12*x'
a = 1
b = 5
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio(func, tb, a, b)

Optimal x = 2.0006422083854467
Optimal f(x) = 4.000003699682917

           A         B        x1        x2      f(x1)     f(x2)
1          1         5     3.472     2.528  16.879364  5.130748
2          1     3.472  2.527696  1.944304   5.129277  4.008961
3          1  2.527696  1.944116   1.58358    4.00902  4.375798
4    1.58358  2.527696  2.167044  1.944232   4.093033  4.008983
5    1.58358  2.167044   1.94416  1.806463   4.009006  4.097871
6   1.806463  2.167044  2.029302  1.944205   4.002626  4.008992
7   1.944205  2.167044  2.081919  2.029329   4.021232  4.002631
8   1.944205  2.081919  2.029312  1.996812   4.002628   4.00003
9   1.944205  2.029312  1.996801  1.976716   4.000031  4.001601
10  1.976716  2.029312   2.00922  1.996808   4.000257  4.000031
11  1.976716   2.00922  1.996804  1.989133   4.000031  4.000352
12  1.989133   2.00922  2.001547  1.996806   4.000007  4.000031
13  1.996806   2.00922  2.004478  2.001548    4.00006  4.000007
14  1.996806  2.004478  2.001548  1.999737   4.000007       4.0

# Question3: ((x+2)**2)/(x-1), [2, 5]

In [24]:
func = '((x+2)**2)/(x-1)'
a = 2
b = 5
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio(func, tb, a, b)

Optimal x = 4.001586903934022
Optimal f(x) = 12.000001240694127

           A         B        x1        x2      f(x1)      f(x2)
1          2         5     3.854     3.146  12.007469  12.339849
2      3.146         5  4.291772  3.854228  12.025862  12.007445
3      3.146  4.291772  3.854087  3.583685   12.00746  12.067082
4   3.583685  4.291772  4.021283  3.854174   12.00015  12.007451
5   3.854174  4.291772   4.12461  4.021337  12.004969  12.000151
6   3.854174   4.12461  4.021303  3.957481   12.00015  12.000611
7   3.957481   4.12461  4.060766  4.021324  12.001206   12.00015
8   3.957481  4.060766  4.021311  3.996936   12.00015  12.000003
9   3.957481  4.021311  3.996928  3.981864  12.000003   12.00011
10  3.981864  4.021311  4.006242  3.996933  12.000013  12.000003
11  3.981864  4.006242   3.99693  3.991176  12.000003  12.000026
12  3.991176  4.006242  4.000487  3.996932       12.0  12.000003
13  3.996932  4.006242  4.002686  4.000488  12.000002       12.0

# Question4: (x**2) + 4*x + 5, [-5, 0]

In [25]:
func = '(x**2) + 4*x + 5'
a = -5
b = 0
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio(func, tb, a, b)

Optimal x = -2.001801801960927
Optimal f(x) = 1.000004527063409

           A         B        x1        x2     f(x1)     f(x2)
1         -5         0     -1.91     -3.09    1.0081    2.1881
2      -3.09         0  -1.18038  -1.90962  1.671777  1.008169
3      -3.09  -1.18038 -1.909855 -2.360525  1.008126  1.129978
4  -2.360525  -1.18038 -1.631195  -1.90971  1.136017  1.008152
5  -2.360525 -1.631195 -1.909799 -2.081921  1.008136  1.006711
6  -2.360525 -1.909799 -2.081977 -2.188348   1.00672  1.035475
7  -2.188348 -1.909799 -2.016205 -2.081942  1.000263  1.006715
8  -2.081942 -1.909799 -1.975558 -2.016184  1.000597  1.000262
9  -2.081942 -1.975558 -2.016197 -2.041304  1.000262  1.001706
10 -2.041304 -1.975558 -2.000673 -2.016189       1.0  1.000262
11 -2.016189 -1.975558 -1.991079 -2.000668   1.00008       1.0
12 -2.016189 -1.991079 -2.000671 -2.006597       1.0  1.000044
13 -2.006597 -1.991079 -1.997007 -2.000669  1.000009       1.0
14 -2.006597 -1.997007  -2.00067 -2.002933       1.0  1.000009

# Question5: (x**4) + 2, [-2, 5]

In [26]:
func = '(x**4) + 2'
a = -2
b = 5
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio(func, tb, a, b)

Optimal x = -0.0020427859837986676
Optimal f(x) = 2.000000000042334

           A         B        x1        x2      f(x1)     f(x2)
1         -2         5     2.326     0.674  31.271086  2.206367
2         -2     2.326  0.673468 -0.347468   2.205716  2.014577
3         -2  0.673468 -0.347797 -0.978735   2.014632  2.917616
4  -0.978735  0.673468  0.042326 -0.347594   2.000003  2.014598
5  -0.347594  0.673468  0.283422  0.042452   2.006453  2.000003
6  -0.347594  0.283422  0.042374 -0.106545   2.000003  2.000129
7  -0.106545  0.283422  0.134455  0.042422   2.000327  2.000003
8  -0.106545  0.134455  0.042393 -0.014483   2.000003       2.0
9  -0.106545  0.042393 -0.014502 -0.049651        2.0  2.000006
10 -0.049651  0.042393  0.007232  -0.01449        2.0       2.0
11  -0.01449  0.042393  0.020663  0.007239        2.0       2.0
12  -0.01449  0.020663  0.007235 -0.001062        2.0       2.0
13  -0.01449  0.007235 -0.001064 -0.006191        2.0       2.0
14 -0.006191  0.007235  0.002106 -0.001063        2.0       2.0
15 -0.006191  0.002106 -0.001064 -0.003022        2.0       2.0

In [27]:
# func = '(x**2) - 6*x + 15'
# a = 0
# b = 10
# tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

# golden_ratio2(func, tb, a, b)

In [28]:
# func = input("Enter equation: (x**2) - 6*x + 15")
# a = int(input("Enter A: "))
# b = int(input("Enter B: "))
# tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

# golden_ratio(func, tb, a, b)

# Assignment 1 - Minimize cable installation cost

In [30]:
import pandas as pd
import numpy as np
import math

def fCalc(func, x):
    expression = func
    # print(expression)

    # x = 4.96
    # x = float(input("Enter the value of x:"))
    # print("x =", x)

    result = eval(expression)
    # print("f(x) = ", result)

    # result = "{:.2f}".format(result)

    return result


def golden_ratio_cableInstall(func, tb, a, b):
    tb.at[1, 'A'] = a
    tb.at[1, 'B'] = b

    i = 2

    tb.at[1, 'x1'] = tb.at[1, 'A'] + (0.618*((tb.at[1, 'B'])-(tb.at[1, 'A'])))  # x1
    tb.at[1, 'x2'] = tb.at[1, 'B'] - (0.618*((tb.at[1, 'B'])-(tb.at[1, 'A'])))  # x2
    tb.at[1, 'f(x1)'] = fCalc(func, tb.at[1, 'x1'])
    tb.at[1, 'f(x2)'] = fCalc(func, tb.at[1, 'x2'])

    while (abs(tb.at[i-1, 'A'] - tb.at[i-1, 'B']) <= 0.01 or i != 11):
        if (tb.at[i-1, 'f(x1)'] < tb.at[i-1, 'f(x2)']):
            tb.at[i, 'A'] = tb.at[i-1, 'x2']
            tb.at[i, 'B'] = tb.at[i-1, 'B']

            tb.at[i, 'x1'] = tb.at[i, 'A'] + (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x1
            tb.at[i, 'x2'] = tb.at[i-1, 'x1']
            tb.at[i, 'f(x1)'] = fCalc(func, tb.at[i, 'x1'])
            tb.at[i, 'f(x2)'] = fCalc(func, tb.at[i, 'x2'])
        else:
            tb.at[i, 'A'] = tb.at[i-1, 'A']
            tb.at[i, 'B'] = tb.at[i-1, 'x1']
            tb.at[i, 'x1'] = tb.at[i-1, 'x2']
            tb.at[i, 'x2'] = tb.at[i, 'B'] - (0.618*((tb.at[i, 'B'])-(tb.at[i, 'A'])))  # x2
            tb.at[i, 'f(x1)'] = tb.at[i-1, 'f(x2)']
            tb.at[i, 'f(x2)'] = fCalc(func, tb.at[i, 'x2'])

        i += 1

    print("Optimal x =", (tb.at[i-1, 'x1']+tb.at[i-1, 'x2'])/2, "Km")
    print("Optimal cost (f(x)) =", (tb.at[i-1, 'f(x1)']+tb.at[i-1, 'f(x2)'])/2, "ruppees")

    return tb

func = '15000 * math.sqrt(x**2 + 1) + 9000 * (4-x)'
a = 0
b = 4
tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'), index=(1, 2, 3, 4, 5, 6, 7, 8, 9, 10))

golden_ratio_cableInstall(func, tb, a, b)

Optimal x = 0.747712586899694 Km
Optimal cost (f(x)) = 48000.16956444177 ruppees

           A         B        x1        x2         f(x1)         f(x2)
1          0         4     2.472     1.528  53751.079989  49640.086448
2          0     2.472     1.528  0.944304  49640.086448  48132.181575
3          0     1.528  0.944304  0.583696  48132.181575  48115.032681
4          0  0.944304  0.583696  0.360724  48115.032681  48699.561573
5   0.360724  0.944304  0.721376  0.583696  48003.189685  48115.032681
6   0.583696  0.944304  0.806552  0.721376  48011.952446  48003.189685
7   0.583696  0.806552  0.721376  0.668827  48003.189685   48026.30865
8   0.668827  0.806552  0.753941  0.721376  48000.059524  48003.189685
9   0.721376  0.806552  0.774015  0.753941  48002.189205  48000.059524
10  0.721376  0.774015  0.753941  0.741484  48000.059524  48000.279605