In [1]:
import pandas as pd
import numpy as np

# Fibonacci Series Code

In [2]:
def Fibonacci(n):

	# Check if input is 0 then it will
	# print incorrect input
	if n < 0:
		print("Incorrect input")

	# Check if n is 0
	# then it will return 0
	elif n == 0:
		return 0

	# Check if n is 1,2
	# it will return 1
	elif n == 1 or n == 2:
		return 1

	else:
		return Fibonacci(n-1) + Fibonacci(n-2)

In [3]:
def fCalc(func, x):
    expression = func
    # print(expression)

    # x = 4.96
    # x = float(input("Enter the value of x:"))
    # print("x =", x)

    result = eval(expression)
    # print("f(x) = ", result)

    # result = "{:.2f}".format(result)

    return result

In [4]:
def fibonacci(func, tb, a, b, n):
    tb.at[1, 'A'] = a
    tb.at[1, 'B'] = b

    # tb.at[1, 'r'] = Fibonacci(n-2)/Fibonacci(n)
    # tb.at[1, 'x1'] = tb.at[1, 'A'] + ((tb.at[1, 'r'])*((tb.at[1, 'B'])-(tb.at[1, 'A'])))  # x1
    # tb.at[1, 'x2'] = tb.at[1, 'B'] - ((tb.at[1, 'r'])*((tb.at[1, 'B'])-(tb.at[1, 'A'])))  # x2

    i = n
    while (i > 3):
        tb.at[(n-i+1), 'r'] = Fibonacci(i-2)/Fibonacci(i)
        tb.at[(n-i+1), 'x1'] = tb.at[(n-i+1), 'A'] + ((tb.at[(n-i+1), 'r'])*((tb.at[(n-i+1), 'B'])-(tb.at[(n-i+1), 'A'])))  # x1
        tb.at[(n-i+1), 'x2'] = tb.at[(n-i+1), 'B'] - ((tb.at[(n-i+1), 'r'])*((tb.at[(n-i+1), 'B'])-(tb.at[(n-i+1), 'A'])))  # x2
        tb.at[(n-i+1), 'f(x1)'] = fCalc(func, tb.at[(n-i+1), 'x1'])
        tb.at[(n-i+1), 'f(x2)'] = fCalc(func, tb.at[(n-i+1), 'x2'])

        if (tb.at[(n-i+1), 'f(x1)'] > tb.at[(n-i+1), 'f(x2)']):
            tb.at[(n-i+1)+1, 'A'] = tb.at[(n-i+1), 'x1']
            tb.at[(n-i+1)+1, 'B'] = tb.at[(n-i+1), 'B']
        else:
            tb.at[(n-i+1)+1, 'A'] = tb.at[(n-i+1), 'A']
            tb.at[(n-i+1)+1, 'B'] = tb.at[(n-i+1), 'x2']

        i -= 1
        
    tb.at[(n-i+1), 'r'] = Fibonacci(i-2)/Fibonacci(i)
    tb.at[(n-i+1), 'x1'] = tb.at[(n-i+1), 'A'] + ((tb.at[(n-i+1), 'r'])*((tb.at[(n-i+1), 'B'])-(tb.at[(n-i+1), 'A'])))  # x1
    tb.at[(n-i+1), 'x2'] = tb.at[(n-i+1), 'B'] - ((tb.at[(n-i+1), 'r'])*((tb.at[(n-i+1), 'B'])-(tb.at[(n-i+1), 'A'])))  # x2
    tb.at[(n-i+1), 'f(x1)'] = fCalc(func, tb.at[(n-i+1), 'x1'])
    tb.at[(n-i+1), 'f(x2)'] = fCalc(func, tb.at[(n-i+1), 'x2'])
    print("Optimal x =", (tb.at[(n-i+1), 'x1']+tb.at[(n-i+1), 'x2'])/2)
    print("Optimal f(x) =", (tb.at[(n-i+1), 'f(x1)']+tb.at[(n-i+1), 'f(x2)'])/2)

    return tb

# Question: x**2, [-5, 15], Iterations = 7

In [5]:
func = 'x**2'
a = -5
b = 15
n = 7
tb = pd.DataFrame(columns=('r', 'A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

fibonacci(func, tb, a, b, n)

Optimal x = -0.38461538461538436
Optimal f(x) = 0.14792899408284005

          r         A         B        x1        x2     f(x1)      f(x2)
1  0.384615        -5        15  2.692308  7.307692  7.248521  53.402367
2     0.375        -5  7.307692 -0.384615  2.692308  0.147929   7.248521
3       0.4        -5  2.692308 -1.923077 -0.384615  3.698225   0.147929
4  0.333333 -1.923077  2.692308 -0.384615  1.153846  0.147929   1.331361
5       0.5 -1.923077  1.153846 -0.384615 -0.384615  0.147929   0.147929

# Question: (x**2) - 6*x + 15, [0, 10], Iterations = 10

In [6]:
func = '(x**2) - 6*x + 15'
a = 0
b = 10
n = 10
tb = pd.DataFrame(columns=('r', 'A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

fibonacci(func, tb, a, b, n)

Optimal x = 2.909090909090909
Optimal f(x) = 6.008264462809919

          r         A         B        x1        x2     f(x1)      f(x2)
1  0.381818         0        10  3.818182  6.181818  6.669421  16.123967
2  0.382353         0  6.181818  2.363636  3.818182  6.404959   6.669421
3  0.380952         0  3.818182  1.454545  2.363636   8.38843   6.404959
4  0.384615  1.454545  3.818182  2.363636  2.909091  6.404959   6.008264
5     0.375  2.363636  3.818182  2.909091  3.272727  6.008264    6.07438
6       0.4  2.363636  3.272727  2.727273  2.909091   6.07438   6.008264
7  0.333333  2.727273  3.272727  2.909091  3.090909  6.008264   6.008264
8       0.5  2.727273  3.090909  2.909091  2.909091  6.008264   6.008264

# Question1: ((x**2)/2) - 2*x, [0, 5], Iterations = 10

In [7]:
func = '((x**2)/2) - 2*x'
a = 0
b = 5
n = 10
tb = pd.DataFrame(columns=('r', 'A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

fibonacci(func, tb, a, b, n)

Optimal x = 2.0
Optimal f(x) = -2.0

          r         A         B        x1        x2     f(x1)     f(x2)
1  0.381818         0         5  1.909091  3.090909 -1.995868 -1.404959
2  0.382353         0  3.090909  1.181818  1.909091 -1.665289 -1.995868
3  0.380952  1.181818  3.090909  1.909091  2.363636 -1.995868 -1.933884
4  0.384615  1.181818  2.363636  1.636364  1.909091 -1.933884 -1.995868
5     0.375  1.636364  2.363636  1.909091  2.090909 -1.995868 -1.995868
6       0.4  1.909091  2.363636  2.090909  2.181818 -1.995868 -1.983471
7  0.333333  1.909091  2.181818       2.0  2.090909      -2.0 -1.995868
8       0.5  1.909091  2.090909       2.0       2.0      -2.0      -2.0

# Question2: (2*(x**3)) - 9*(x**2) + 12*x, [1, 5], Iterations = 10

In [8]:
func = '(2*(x**3)) - 9*(x**2) + 12*x'
a = 1
b = 5
n = 10
tb = pd.DataFrame(columns=('r', 'A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

fibonacci(func, tb, a, b, n)

Optimal x = 2.018181818181818
Optimal f(x) = 4.001003756574004

          r         A         B        x1        x2     f(x1)      f(x2)
1  0.381818         1         5  2.527273  3.472727  5.127231  16.895249
2  0.382353         1  3.472727  1.945455  2.527273  4.008601   5.127231
3  0.380952         1  2.527273  1.581818  1.945455  4.378368   4.008601
4  0.384615  1.581818  2.527273  1.945455  2.163636  4.008601   4.089094
5     0.375  1.581818  2.163636       1.8  1.945455     4.104   4.008601
6       0.4       1.8  2.163636  1.945455  2.018182  4.008601   4.001004
7  0.333333  1.945455  2.163636  2.018182  2.090909  4.001004   4.026296
8       0.5  1.945455  2.090909  2.018182  2.018182  4.001004   4.001004

# Question3: ((x+2)**2)/(x-1), [2, 5], Iterations = 10

In [9]:
func = '((x+2)**2)/(x-1)'
a = 2
b = 5
n = 10
tb = pd.DataFrame(columns=('r', 'A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

fibonacci(func, tb, a, b, n)

Optimal x = 4.018181818181818
Optimal f(x) = 12.000109529025192

          r         A         B        x1        x2      f(x1)      f(x2)
1  0.381818         2         5  3.145455  3.854545   12.34037  12.007412
2  0.382353  3.145455         5  3.854545  4.290909  12.007412  12.025716
3  0.380952  3.145455  4.290909  3.581818  3.854545  12.067734  12.007412
4  0.384615  3.581818  4.290909  3.854545  4.018182  12.007412   12.00011
5     0.375  3.854545  4.290909  4.018182  4.127273   12.00011   12.00518
6       0.4  3.854545  4.127273  3.963636  4.018182  12.000446   12.00011
7  0.333333  3.963636  4.127273  4.018182  4.072727   12.00011  12.001721
8       0.5  3.963636  4.072727  4.018182  4.018182   12.00011   12.00011

# Question4: (x**2) + 4*x + 5, [-5, 0], Iterations = 10

In [10]:
func = '(x**2) + 4*x + 5'
a = -5
b = 0
n = 10
tb = pd.DataFrame(columns=('r', 'A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

fibonacci(func, tb, a, b, n)

Optimal x = -2.0
Optimal f(x) = 1.0

          r         A         B        x1        x2     f(x1)     f(x2)
1  0.381818        -5         0 -3.090909 -1.909091  2.190083  1.008264
2  0.382353 -3.090909         0 -1.909091 -1.181818  1.008264  1.669421
3  0.380952 -3.090909 -1.181818 -2.363636 -1.909091  1.132231  1.008264
4  0.384615 -2.363636 -1.181818 -1.909091 -1.636364  1.008264  1.132231
5     0.375 -2.363636 -1.636364 -2.090909 -1.909091  1.008264  1.008264
6       0.4 -2.363636 -1.909091 -2.181818 -2.090909  1.033058  1.008264
7  0.333333 -2.181818 -1.909091 -2.090909      -2.0  1.008264       1.0
8       0.5 -2.090909 -1.909091      -2.0      -2.0       1.0       1.0

# Question5: (x**4) + 2, [-2, 5], Iterations = 10

In [11]:
func = '(x**4) + 2'
a = -2
b = 5
n = 10
tb = pd.DataFrame(columns=('r', 'A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

fibonacci(func, tb, a, b, n)

Optimal x = 0.03636363636363642
Optimal f(x) = 2.0000017485144457

          r         A         B        x1        x2     f(x1)      f(x2)
1  0.381818        -2         5  0.672727  2.327273  2.204812  31.335205
2  0.382353        -2  2.327273 -0.345455  0.672727  2.014242   2.204812
3  0.380952        -2  0.672727 -0.981818 -0.345455  2.929232   2.014242
4  0.384615 -0.981818  0.672727 -0.345455  0.036364  2.014242   2.000002
5     0.375 -0.345455  0.672727  0.036364  0.290909  2.000002   2.007162
6       0.4 -0.345455  0.290909 -0.090909  0.036364  2.000068   2.000002
7  0.333333 -0.090909  0.290909  0.036364  0.163636  2.000002   2.000717
8       0.5 -0.090909  0.163636  0.036364  0.036364  2.000002   2.000002

In [12]:
# func = input("Enter equation: (x**2) - 6*x + 15")
# a = int(input("Enter A: "))
# b = int(input("Enter B: "))
# n = int(input("Enter number of iterations: "))
# tb = pd.DataFrame(columns=('A', 'B', 'x1', 'x2', 'f(x1)', 'f(x2)'))

# fibonacci(func, tb, a, b, n)